form(class="form-horizontal",name="edit-rep",method="POST",action="/rep/edit/#{repDetails._id}")
fieldset
  legend Edit #{repDetails.repName}'s Details (id: #{repDetails._id})
  
  div.control-group
    label.control-label Name:
    div.controls
      input(type="text",name="name",class="input-xlarge span6",value="#{repDetails.repName}")

  div.control-group
    label.control-label Team:
    div.controls
      input(type="text",name="team",class="input-xlarge span6",value="#{repDetails.teamName}")

  input(type="hidden",name="id",value="#{repDetails._id}")
  div.form-actions
    input(type="submit",value="Edit",name="edit",class="btn btn-primary")