mixin repsList(rep)
  tr
    td #{rep.repName}
    td #{rep.teamName}
    td 
      //- button(href="/rep/delete/#{rep._id}",class="btn btn-danger") Delete
      a(href="/rep/delete/#{rep._id}") Delete
      &nbsp; 
      a(href="/rep/#{rep._id}/edit") Edit

div.row
  div.span12 
    h1= title

partial('alert', flash)
- if (user)
  div.row
    div.span9
      table(class="table table-bordered table-hover table-condensed")
        thead
          tr
            th Name
            th Team
            th Options
        tbody
        - for (var i = 0; i < repList.length; i++)
            mixin repsList(repList[i])
            - if (i + 1 < repList.length)
              mixin repsList(repList[++i])
