- if (!user) 
  form(class="form-signin",name="login-form",method="post",action="/login")
    h2(class="form-signin-heading") Please sign in
    input(type="text",name="username",class="input-block-level",placeholder="Username")
    input(type="password",name="password",class="input-block-level",placeholder="Password")
    button(type="submit",value="Login",name="login",class="btn btn-large btn-primary") Sign in


partial('alert', flash)
- if (user)
  div.row
    div.span12
    - if (repList.length < 1)
      h1= title
      div(class="alert alert-error") You currently have no reps assigned to you. Please add reps to your team.
    - else
      h1= title
      table(class="table table-bordered table-hover table-condensed")
        thead
          tr
            th Name
            th Team
            th Team Lead
        tbody
        - for rep in repList
          tr
            td
              a(href="/rep/#{rep._id}") #{rep.repName}
            td #{rep.teamName}
            td #{rep.teamLead.username}
      